@import url("http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}
	
/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		width: 1360px;
	}

	@media screen and (max-width: 1680px) {

		.container {
			width: 1200px;
		}

	}

	@media screen and (max-width: 1280px) {

		.container {
			width: 960px;
		}

	}

	@media screen and (max-width: 1000px) {

		.container {
			width: 100% !important;
		}

	}

	@media screen and (max-width: 736px) {

		.container {
			width: 100% !important;
		}

	}
	
/* Basic */

	body {
		background: #a56365;
		background: linear-gradient(45deg, #b39c68, #a56365, #412e4c);
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 17pt;
		line-height: 1.75em;
		color: #aaa;
		color: rgba(255, 255, 255, 0.65);
		-webkit-text-stroke: 0.1px;
	}

		body.is-loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	h1 {
		color: #fff;
		margin: 0 0 1em 0;
		font-weight: 100;
		line-height: 1.5em;
		font-size: 2.25em;
		margin-bottom: 0;
		text-align: center;
	}

	a {
		-moz-transition: border-bottom-color 0.25s ease-in-out;
		-webkit-transition: border-bottom-color 0.25s ease-in-out;
		-ms-transition: border-bottom-color 0.25s ease-in-out;
		transition: border-bottom-color 0.25s ease-in-out;
		color: #fff;
		text-decoration: none;
		border-bottom-color: rgba(255, 255, 255, 0.5);
	}

		a:hover {
			border-bottom-color: rgba(255, 255, 255, 0);
		}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	p {
		text-align: justify;
	}

	header {
		margin-bottom: 1em;
	}

	header p {
		display: block;
		margin: 0;
		padding: 0.25em 0 0.5em 0;
		margin: 2em 0 0 0;
		padding: 0;
		text-align: center;
	}
	
	#memory img {width:90%; height:90%; cursor:pointer; vertical-align: middle;}

	#memory {text-align: center;}
	
	footer p{
		text-align: center;
	}
		
/* Table */

	table{
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed; 
		max-width: 600px; 
		margin-left:auto; 
		margin-right:auto; 
		background: rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 0 0 1px #fff;
		color: #fff; 
		border-radius: 0.25em;
	}

	table td {
		width: 25%;  padding: 0.85em;
	}

/* Button */

	input[type="button"] {
		-moz-transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		background: rgba(255, 255, 255, 0.15);
		padding: 0.85em 3em 0.85em 3em;
		border-radius: 0.25em;
		cursor: pointer;
		border: 0;
		color: #fff;
		text-align: center;
		text-decoration: none;
		box-shadow: inset 0 0 0 1px #fff;
	}

		input[type="button"]:hover {
			background: rgba(255, 255, 255, 0.25);
		}

		input[type="button"].alt {
			color: inherit;
			background: none;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
		}

			input[type="button"].alt:hover {
				background: rgba(255, 255, 255, 0.15);
				box-shadow: inset 0 0 0 1px #fff;
			}
			
/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 15pt;
				line-height: 1.75em;
			}
			
		/* Header */

			header, footer {
				padding: 4em 4em 2em 4em;
			}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 13pt;
				line-height: 1.65em;
			}

		/* Header */

			header, footer {
				padding: 3em 3em 1em 3em;
			}

	}

/* Narrow */

	@media screen and (max-width: 1000px) {

		/* Table */

			table {
				width: 90%;
				overflow-x: scroll;
				padding-left: 1px;
				-webkit-overflow-scrolling: touch;
			}

		/* Header */

			header, footer {
				margin: 0 !important;
				padding: 3em 1em 3em 1em;
			}

				header p {
					margin-top: 1em;
				}
	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 11pt;
			}

		/* Button */

			.button {
				padding-left: 0;
				padding-right: 0;
				width: 100%;
				max-width: 300px;
			}

		/* Header */

			header, footer {
				padding: 2em 20px 2em 20px;
			}

	}
	
